<?xml version="1.0"?>
<launch>
	<arg name="gui" default="true"/>
	
  	<include file="$(find rtg_proje)/launch/start.launch">
   		<arg name="world" value="exp3_alan.world"/> 
   		<arg name="gui" value="$(arg gui)"/> 
  	</include>

	<include file="$(find p3at_description)/launch/spawn_p3at.launch">
    		<arg name="robot_name" value="robot"/>
    		<arg name="pose_args" value="-x 0 -y 0"/> 
  	</include>

<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.13 0 0.42 0.0 0.0 0.0 robot/base_link robot/hokuyo_frame 100" />

<node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find rtg_proje)/rviz/rtg_proje.rviz" />

<!--node pkg="tf" type="static_transform_publisher" name="xxx_link_to_xxx" args="0.13 0 0.42 0.0 0.0 0.0    map robot/odom	  5" /-->


<!--node pkg="gmapping" type="slam_gmapping" output="screen" name="mapx" args="scan:=robot/hokuyo _base_frame:=robot/base_link"/-->
<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="/robot/base_link"/>
    <param name="odom_frame" value="/robot/odom"/>
    <remap from="scan" to="/robot/hokuyo"/>
</node> 

<node pkg="rtg_proje" type="keyboard_cmdvel.py" name="klavyekontrol" output="screen"/>

 <node name="fark" pkg="find_object_2d" type="find_object_2d" output="screen">
 		    <remap from="image" to="robot/camera/rgb/image_raw"/>
 		    <param name="gui" value="true" type="bool"/>
 		    <param name="objects_path" value="$(find rtg_proje)/tup_ve_digerleri" type="str"/>
  </node>


  <include file="$(find rtg_proje)/launch/move_base.launch"/>
 



</launch>
